header{
    background-color:#b588e7;
    color: black;
    letter-spacing: 3px;
    text-align: center;
    padding: 5px;
    border-style: solid;
    border-color: white;
}

#sidebar{
    background-color: #e3b957;
    width: 25%;
    height: 390px;
    text-align: center;    
    border-style: solid;
    border-color: white;
}

#main{
    background-color:#a7dc8a ;
    width: 99.5%;
    height: 250px;
    border-style: solid;
    border-color: white;
    text-align: center;
} 

#widget{
   background-color: #eb867c; 
   width: 50%;
   height: 135px;
   text-align: center;
   border-style: solid;
   border-color: white;
}

#statistics{
    background-color: #91b7e8;
    width: 50%;
    height: 135px;
    text-align: center;
    border-style: solid;
    border-color: white;
}

footer{
    background-color:#b588e7;
    color: black;
    letter-spacing: 3px;
    text-align: center;
    padding: 5px;
    border-style: solid;
    border-color: white;
}

#container{
    box-shadow: 0 0 10px gray;
    border-style: solid;
    border-color: white;
}

.item{
    display: flex;
}

#contant{
    display: flex;
}

#aha{
    flex: auto;
    box-shadow: white;
    margin: 0 auto;
}

@media only screen and (max-width: 900px) {
    #contant{
        flex-direction: column;
    }

    .item{
        flex-direction: column;
        display: flex;
    }

    #aha{
        flex-direction: column;
    }

    #sidebar{
        width: 900px;
        height: 100px;
    }

    #main{
        width: 900px;
    }

    #widget{
        width: 900px;
        height: 130px;
    }

    #statistics{
        width: 900px;
        height: 130px;
    }

    header{
        width: 900px;
    }

    footer{
        width: 900px;
    }
}